
@model IEnumerable<string>
@{
    ViewBag.Title = "Active Sessions";
}

<h2>Active Sessions</h2>

<ul>
    @foreach (var session in Model)
    {
        <li>@session</li>
    }
</ul>

<div style="margin-top:15px; margin-bottom:15px">
    @Html.ActionLink("Back to Main Page", "AdminPage", null, new { @class = "btn btn-primary" })
</div>