
@{
    ViewBag.Title = "User Page";
}

<h2>Farmer Page</h2>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <style>
        .container {
            text-align: center;
            margin-top: 20px;
        }

        .buttons {
            margin-top: 100px;
        }

        .btn {
            margin: 10px;
            padding: 10px 20px;
            text-decoration: none;
            color: white;
            border-radius: 5px;
            transition: background-color 0.3s;
            display: inline-block;
        }

        .btn-info {
            background-color: #17a2b8;
        }

            .btn-info:hover {
                background-color: #117a8b;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome, @Session["farmer_name"]</h1>
        <p></p>

        <div style ="margin-top: 550px;" class="buttons">
            <a href="@Url.Action("RequestLoan", "Home")" class="btn btn-info">Request For Loan</a>
            @*<a href="@Url.Action("RequestMachinery", "Home")" class="btn btn-primary">Request for Machinery</a>*@
        </div>
    </div>
</body>
</html>